<h1 class="center">Cafe Name</h1>
<div class="center card light-green darken-2">
  <div class="card-content white-text">
    <h3>Create A New Food</h3>
    <a href="/apps/new" class="btn orange darken-3">New Food</a>
  </div>
</div>
<div class="center card light-green darken-2">
  <div class="card-content white-text">
    <h3>View Food</h3>
    <a href="/apps" class="btn orange darken-3">All Food</a>
  </div>
</div>