<h1 class="center">Edi's Cafe</h1>
  <div class="row home-card">
    <div class="col s12 m4">
      <div class="card light-green darken-2">
        <div class="card-content white-text">
          <span class="card-title">View Menu</span>
          <p>View our extensive array of foods served at Edi's Cafe.</p>
        </div>
        <div class="card-action">
          <a href="/apps" class="btn orange darken-3">View Food</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row home-card">
    <div class="col s12 m4">
      <div class="card light-green darken-2">
        <div class="card-content white-text">
          <span class="card-title">Admin Page</span>
          <p>Admin page to create and view menu options.</p>
        </div>
        <div class="card-action">
          <a href="/create" class="btn orange darken-3">Admin Page</a>
        </div>
      </div>
    </div>
  </div>

