<nav>
  <div class="nav-wrapper light-green darken-4">
    <a href="/" class="brand-logo">Cafe Name</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/apps">My Food</a></li>
      <li><a href="/apps/new">New Food</a></li>
    </ul>
  </div>
</nav>